
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-Vkoo8q4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap">

</head>


<body>

  <div class="body__Page">
      <div class="cover"></div>
      <div class="container__article">
          <div class="box__article"></div>
          
          
      </div>
  </div>

  <footer>

      <div class="container__footer">
          <div class="box__footer">
              <div class="logo">
                  <img style="border-radius: 50%;" src="https://i.pinimg.com/736x/0b/76/ef/0b76efc8d39470a46f1a1e885fed5ccf.jpg" alt="">
              </div>
              <div class="terms">
                  <p>Découvrez une collection exquise de vêtements marocains pour femmes et hommes, y compris des kaftans, jabadors, et plus encore. Nous sommes déterminés à offrir des articles de qualité, conçus pour allier tradition et modernité.</p>
              </div>
          </div>
          <div class="box__footer">
              <h2>Collection</h2>
              <a href="#">Kaftans</a>
              <a href="#">Jabadors</a>
              <a href="#">Jelaba</a>
              <a href="#">Costum</a>
          </div>

          <div class="box__footer">
              <h2>Nos Services</h2>
              <a href="#">Livraison</a>
          <a href="#">Retours</a>
          <a href="#">Contact</a>             
          </div>

          <div class="box__footer">
            <h2>Suivez-nous</h2>
            <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>

      </div>

      <div class="box__copyright">
          <hr>
          <p>Tous droits réservés © 2024 <b>OMAR ABARRA</b></p>
      </div>
  </footer>

</body>