<div class="mt-[4rem]">
    <app-main-carousel/>
</div>


<div>
    <app-product-card-slider title="Men's Jabador" [products]="products"/>
    <app-product-card-slider title="Women's Kaftan"  [products]="gouns"/>
    <app-product-card-slider title="Men's Costum" [products]="saree"/>
    <!-- <app-product-card-slider title="Men's T-Shirt"/> -->
    <app-product-card-slider title="Men's Accessories" [products]="men_kurta"/>
    <app-product-card-slider title="Women's Accessories" [products]="shoes"/> 
    <app-product-card-slider title="Men's Shoes" [products]="Shoess"/> 

</div>


